body {
  font: 12px arial, helvetica, sans-serif;
  min-width: 100% !important;
}

h3 {
  min-width: 100%;
  grid-column-start: 1;
  grid-column-end: end;
  border-bottom-style: solid;
  border-bottom-color: silver;
  border-bottom-width: 0.1px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.game {
  min-width: 100%;
  border-top-style: solid;
  border-top-color: silver;
  border-top-width: 0.1px;
  clear: left;
  clear: right;
}

.result {
  margin-top: 10px;
  clear: right;
}

.gameDetails {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
  grid-column-gap: 10px;
  grid-template-rows: auto;
  grid-template-areas: "score status broadcast decision content";
  align-items: stretch;
  margin-bottom: 10px;
}

.score {
  grid-area: score;
}

.gameState {
  grid-area: status;
}

.broadcast {
  grid-area: broadcast;
}

.decision {
  grid-area: decision;
  display: flex;
  flex-wrap: wrap;
}

.roundGameDetails {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr;
  grid-column-gap: 10px;
  grid-template-rows: auto;
  grid-template-areas: "date score status broadcast decision content";
  align-items: stretch;
  margin-bottom: 10px;
}

.roundDate {
  grid-area: date;
}

.roundScore {
  grid-area: score;
}

.roundGameState {
  grid-area: status;
}

.roundBroadcast {
  grid-area: broadcast;
}

.roundDecision {
  grid-area: decision;
  display: flex;
  flex-wrap: wrap;
}

.loser {
  flex-wrap: nowrap;
}

.save {
  flex-wrap: nowrap;
}

.wrap {
  grid-area: content;
}

.date {
  grid-area: date;
  display: block;
  min-width: 100%;
  clear: left;
  clear: right;
}

.options {
  display: flex;
  justify-content: center;
}

.optionLeft {
  padding: 10px;
  border-radius: 3px 0 0 3px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  align-content: center;
}
.optionRight {
  padding: 10px;
  border-radius: 0 3px 3px 0;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  align-content: center;
}
#selected {
  background: lightgray;
}
