body {
  font: 16px arial, helvetica, sans-serif;
  min-width: 100% !important;
}

.heading {
  font: "Helvetica Neue";
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 1.625625rem;
}

h3 {
  min-width: 100%;
  grid-column-start: 1;
  grid-column-end: end;
  border-bottom-style: solid;
  border-bottom-color: silver;
  border-bottom-width: 0.1px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.game {
  min-width: 100%;
  border-top-style: solid;
  border-top-color: silver;
  border-top-width: 0.1px;
  clear: left;
  clear: right;
}

.result {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
  clear: right;
}

.gameDetails {
  /* padding: 10px 0 10px 0; */
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr 2fr 1.5fr;
  grid-column-gap: 10px;
  grid-template-rows: auto;
  grid-template-areas: "away home status broadcast decision recap";
  align-items: center;
  margin-bottom: 10px;
}

.gameState {
  grid-area: status;
  place-self: center;
}

.broadcast {
  grid-area: broadcast;
  place-self: center;
}

.decision {
  place-self: left;
  grid-area: decision;
  display: flex;
  flex-wrap: wrap;
}

.roundGameDetails {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 2fr 1fr;
  grid-column-gap: 10px;
  grid-template-rows: auto;
  grid-template-areas: "date score status broadcast decision recap";
  align-items: stretch;
  margin-bottom: 10px;
}

.roundDate {
  grid-area: date;
}

.roundScore {
  grid-area: score;
}

.roundGameState {
  grid-area: status;
}

.roundBroadcast {
  grid-area: broadcast;
}

.roundDecision {
  grid-area: decision;
  display: flex;
  flex-wrap: wrap;
}

.winner {
  margin-left: 5px;
  margin-right: 5px;
  flex-wrap: nowrap;
}

.loser {
  margin-left: 5px;
  margin-right: 5px;
  flex-wrap: nowrap;
}

.save {
  margin-left: 5px;
  margin-right: 5px;
  flex-wrap: nowrap;
}

.recap {
  grid-area: recap;
}

/* .wrap {
  padding: 10px;
}

.video {
  padding: 10px;
} */

.date {
  grid-area: date;
  display: block;
  min-width: 100%;
  clear: left;
  clear: right;
}

.options {
  display: flex;
  justify-content: center;
  color: #666666;
}

button {
  font-size: 16px;
  color: #606060;
  text-shadow: #d2d2d2;
}

.optionLeft {
  padding: 15px;
  border-radius: 3px 0 0 3px;
  border-style: solid;
  border-color: #d2d2d2;
  border-width: 1px;
  align-content: center;
}

.optionRight {
  padding: 15px;
  border-radius: 0 3px 3px 0;
  border-style: solid;
  border-color: #d2d2d2;
  border-width: 1px;
  align-content: center;
}

#selected {
  background: #ececec;
}

#selected:hover {
  background: #ececec;
}

.optionLeft:hover {
  background-color: #ececec;
}

.optionRight:hover {
  background-color: #ececec;
}

img {
  padding-right: 5px;
}

.awayTeam {
  grid-area: away;
}

.homeTeam {
  grid-area: home;
}

@media (max-width: 1152px) {
  .gameDetails {
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.5fr 0.5fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-rows: auto;
    grid-template-areas: "away home status broadcast decision recap";
    align-items: center;
    margin-bottom: 10px;
  }

  .decision {
    place-self: center;
    display: block;
  }
  .winner {
    display: block;
    clear: left;
    clear: right;
  }
  .loser {
    display: block;
    clear: left;
    clear: right;
  }
  .save {
    display: block;
    clear: left;
    clear: right;
  }

  .recap {
    display: block;
  }
  .video {
    display: block;
  }
  .wrap {
    display: block;
  }
}

@media (max-width: 931px) {
  .gameDetails {
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.25fr 0.25fr 1fr 0.75fr;
    grid-column-gap: 10px;
    grid-template-rows: auto;
    grid-template-areas: "away home status broadcast decision recap";
    align-items: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 784px) {
  body {
    font-size: 15px;
  }
  .gameDetails {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1.5fr 0.5fr;
    grid-column-gap: 0;
    grid-template-rows: auto;
    grid-template-areas: "score status broadcast decision recap";
  }

  /* .recap {
    display: block;
  }
  .video {
    display: block;

  }
  .wrap {
    display: block;

  } */

  .score {
    grid-area: score;
  }
}

@media (max-width: 499px) {
  body {
    font-size: 13px;
  }
}
